<div class="menu">

  <tabs [items]="tabs"></tabs>


</div>


<div class="tabs-content tiExpensesList">
  <items-administration></items-administration>
</div>

<div class="tabs-content tiShareStatistics">
    
    <share-statistics></share-statistics>
    
</div>

<div class="tabs-content tiIncomeExpense">
    
    <income-expense></income-expense>
    
</div>

<div class="tabs-content tiIngPage">
    
    <ing-page></ing-page>
    
</div>

<div class="tabs-content tiRealExpenses">
        
    <real-expenses-list></real-expenses-list>
        
</div>





