<div class="real-expenses-list">

    <div>
        <label>
            <input type="checkbox" [(ngModel)]="includeSabrina" (change)="filterChagned()" />
            Sabrina
        </label>

        <label>
            <input type="checkbox" [(ngModel)]="includeVaclav" (change)="filterChagned()" />
            Vaclav
        </label>
    </div>


    <div class="list1">

        <table>

            <tr>
                <th>date</th>
                <th>total amount</th>

            </tr>

            <tr *ngFor="let g of monthGroups">
                <td>
                    <a href="#" (click)="setActive(g)">{{g.date.month}}/{{g.date.year}}</a>

                </td>
                <td>{{g.totalAmount}}</td>

            </tr>

        </table>

        <div>
            <div><b>total</b>: {{spentTotal}}</div>
            <div><b>avg</b>: {{spentAvg}}</div>
        </div>


    </div>

    <div *ngIf="expenseGroups" class="list2">
        <table>
            <tr>
                <th>name</th>
                <th>amount</th>
            </tr>

            <tr *ngFor="let i of expenseGroups">
                <td><a href="#" (click)="showActiveGroupedItems(i)">{{i.catName}}</a></td>
                <td>{{i.total}}</td>
            </tr>
        </table>


    </div>

    <div *ngIf="groupedItemsDetial" class="list3"> 

            <ing-items-list [items]="groupedItemsDetial"></ing-items-list>  

    </div>


    <div *ngIf="included">
        <div>
            <b>Sum of uncategorizeid</b>: {{leftoversTotal}}
        </div>
        <div>
            <ing-items-list [items]="included"></ing-items-list>          
        </div>

    </div>


    




</div>