<div class="real-expenses-list">

    <div>
        <label>
            <input type="checkbox" [(ngModel)]="includeSabrina" (change)="filterChagned()" />
            Sabrina
        </label>

        <label>
            <input type="checkbox" [(ngModel)]="includeVaclav" (change)="filterChagned()" />
            Vaclav
        </label>
    </div>

    <table>

        <tr>
            <th>date</th>
            <th>total amount</th>

        </tr>

        <tr *ngFor="let g of monthGroups">
            <td (click)="setActive(g)">{{g.date.month}}/{{g.date.year}}</td>
            <td>{{g.totalAmount}}</td>

        </tr>

    </table>

    <div>
        <div>total: {{spentTotal}}</div>
        <div>avg: {{spentAvg}}</div>
    </div>

    <div>
        <table>
            <tr>
                <th>name</th>
                <th>amount</th>
            </tr>

            <tr *ngFor="let i of expenseGroups">
                <td>{{i.catName}}</td>
                <td>{{i.total}}</td>
            </tr>
        </table>


    </div>


    <div *ngIf="included">
        <div>
            <b>total</b>: {{leftoversTotal}}
        </div>
        <div>
            <table>
                <tr>
                    <th>amount</th>
                    <th>account</th>
                    <th>usage</th>
                    <th>TranType</th>
                    <th>paidDate</th>

                    <!-- <th>currency</th> -->
                </tr>
                <tr *ngFor="let i of included">
                    <td>{{i.amount}}</td>
                    <td>{{i.account}}</td>
                    <td>{{i.usage}}</td>
                    <td>{{i.transactionType}}</td>
                    <td>{{mom(i.paidDate).format("l")}}</td>

                    <!-- <td>{{i.currency}}</td> -->
                </tr>
            </table>

        </div>

    </div>




</div>